*{
    margin: 0;
    padding: 5px;
    background-color: rgb(241, 238, 238);
}

header {
    min-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 76, 226);
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    background-color: rgb(43, 76, 226);
}

input {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    transition: 0.25s all ease;
    outline: none;
}

form button {
    border-radius: 8px;
    border-style: solid;
    border-width: 0.5px;
    background-color: #18acfe;
    color: #fff;
    cursor: pointer;
}

#myTable {
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
}

#myTable th {
    background-color: rgb(43, 144, 226);
    padding: 10px;
    color: #fff;
    font-weight: 100;
    border-radius: 3px;
}


#myTable td,th {
    border: 1px solid #ddd;
    padding: 8px;
}




#myTable tr:nth-child(even) {
    background-color: #e9e3e3;
}